.idea
.history
.DS_Store
.nyc_output/
.vscode
*.log
/node_modules
/application
/wasaby
/builder-ui
/build-ui
/builderCfg.json
/package-lock.json
/artifacts
/tsconfig.json
/tslib.js
/tslint.json
builderConfig.json
